In [109]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np
from time import time
import matplotlib.pyplot as plt
%matplotlib inline

In [71]:
data=pd.read_csv("B63-2011-04-03_2011-05-03.csv")

In [77]:
data_copy = data

In [228]:
data.head()

,vehicle_id,timestamp,latitude,longitude,phase,trip_id,direction_id,trip_headsign,shape_dist_traveled,stop_id,stop_sequence,dist_from_stop
0,7573,2011-04-16 01:02:41,40.612648,-74.033723,IN_PROGRESS,20110403AD_004000_B63_0089_B63_101,0,B63 PIER 6 BKLYN BRIDGE PK via 5 AV,299.381043,305334,2,39.875024
1,7573,2011-04-16 01:03:16,40.613071,-74.033353,IN_PROGRESS,20110403AD_004000_B63_0089_B63_101,0,B63 PIER 6 BKLYN BRIDGE PK via 5 AV,357.314663,305335,3,158.012705
2,7573,2011-04-16 01:03:50,40.614715,-74.032055,IN_PROGRESS,20110403AD_004000_B63_0089_B63_101,0,B63 PIER 6 BKLYN BRIDGE PK via 5 AV,570.261417,308130,4,173.253540
3,7573,2011-04-16 01:04:09,40.617474,-74.030490,IN_PROGRESS,20110403AD_004000_B63_0089_B63_101,0,B63 PIER 6 BKLYN BRIDGE PK via 5 AV,898.529204,305338,5,130.538314
4,7573,2011-04-16 01:04:40,40.621249,-74.028916,IN_PROGRESS,20110403AD_004000_B63_0089_B63_101,0,B63 PIER 6 BKLYN BRIDGE PK via 5 AV,1322.867866,305341,7,189.051827

In [84]:
data_drop = data_copy.drop(["trip_id","timestamp","phase", "trip_headsign"], axis=1)
data_drop = data_drop.sort_values(["vehicle_id"])

In [38]:
# hay 30 buses
len(np.unique(data.vehicle_id))

30

In [39]:
#data_drop = data_drop.sort_values(["vehicle_id", "timestamp"])
#X = np.array(data_drop)
data_drop.head()

,vehicle_id,timestamp,latitude,longitude,phase,direction_id,shape_dist_traveled,stop_id,stop_sequence,dist_from_stop
0,7573,2011-04-16 01:02:41,40.612648,-74.033723,IN_PROGRESS,0,299.381043,305334,2,39.875024
1,7573,2011-04-16 01:03:16,40.613071,-74.033353,IN_PROGRESS,0,357.314663,305335,3,158.012705
2,7573,2011-04-16 01:03:50,40.614715,-74.032055,IN_PROGRESS,0,570.261417,308130,4,173.253540
3,7573,2011-04-16 01:04:09,40.617474,-74.030490,IN_PROGRESS,0,898.529204,305338,5,130.538314
4,7573,2011-04-16 01:04:40,40.621249,-74.028916,IN_PROGRESS,0,1322.867866,305341,7,189.051827

In [26]:
restas_distancias[2]

44.54245555273155

In [29]:
np.min(restas_distancias) , np.max(restas_distancias), len(restas_distancias)

(-12000.76778728651, 11985.52552930461, 840940)

In [7]:
data_drop.head()

,vehicle_id,timestamp,latitude,longitude,phase,direction_id,shape_dist_traveled,stop_id,stop_sequence,dist_from_stop
107226,7560,2011-04-03 00:00:06,40.629310,-74.022698,IN_PROGRESS,1,9380.958359,308421,47,275.386484
107227,7560,2011-04-03 00:00:36,40.627077,-74.023625,IN_PROGRESS,1,9642.575518,308421,47,13.769324
107228,7560,2011-04-03 00:01:06,40.626679,-74.023769,IN_PROGRESS,1,9687.117974,305458,48,224.643859
107229,7560,2011-04-03 00:01:36,40.626426,-74.023864,IN_PROGRESS,1,9717.891105,305458,48,193.870728
107230,7560,2011-04-03 00:02:05,40.624844,-74.024552,IN_PROGRESS,1,9902.529893,305458,48,9.231939

In [85]:
X = np.array(data_drop)

In [86]:
porcent = X.shape[0]*0.70
x_train = X[:porcent,:-1]
y_train = X[:porcent,X.shape[1]-1]

x_test = X[porcent:,:-1]
y_test = X[porcent:,X.shape[1]-1 ]

x_train.shape ,y_train.shape, x_test.shape, y_test.shape

/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  from ipykernel import kernelapp as app
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  app.launch_new_instance()
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

((588658, 7), (588658,), (252282, 7), (252282,))

In [90]:
#Entrenando a lo tartaro
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)
print("socre en train = ",lr.score(x_train, y_train))
print("score en test = ", lr.score(x_test, y_test))

socre en train =  0.410991551131
score en test =  0.36662848478

In [92]:
data_copy_2 = data
data_drop_2 = data_copy_2.drop(["trip_id","timestamp", "trip_headsign"], axis=1)
data_drop_2 = data_drop_2.sort_values(["vehicle_id"])

In [94]:
data_drop_2.head()

,vehicle_id,latitude,longitude,phase,direction_id,shape_dist_traveled,stop_id,stop_sequence,dist_from_stop
453149,7560,40.682987,-73.976740,IN_PROGRESS,1,2175.706279,305413,13,149.149602
329965,7560,40.656588,-73.998388,IN_PROGRESS,0,6093.469048,305367,28,3.122355
329964,7560,40.654581,-74.000482,IN_PROGRESS,0,5809.334700,305367,28,287.256703
329963,7560,40.654476,-74.000584,IN_PROGRESS,0,5796.845278,305367,28,299.746125
329962,7560,40.654093,-74.000994,IN_PROGRESS,0,5741.198010,305365,27,36.913136

In [93]:
def trueque (datas):
    
    X = np.array(datas)
    #cambiar las phase's por ceros y uno
    # por el 4 ponga el número de columna donde está lo de phase
    for i in range(X.shape[0]):
        if X[i,3] == "IN_PROGRESS":
            X[i,3] =1 
        else:
            X[i,3] =0


    #Aqui lo mismo, por el 6 ponga el número de la columna de shape_dist_traveled
    restas_distancias =[]
    for i in range(X.shape[0]):
        if i==0:
            restas_distancias.append(int(X[i,5]))
        else:
            #Loca aca por year ponga el número de esa columna, lo mismo con minute
            if np.sum(abs(X[i, 11:16] - X[i-1, 11:16])) <=50 :
                restas_distancias.append(int(X[i,5]-X[i-1,5]))
            else: 
                restas_distancias.append(int(X[i,5]))
    X= np.concatenate((X,np.array([restas_distancias]).T),axis=1)
    
    return X

In [96]:
X_1 = np.array(data_drop_2)
y = X_1[:,8]
X_1 = np.delete(X_1,8,1)
X_1 = trueque(X_1)

In [101]:
y.shape, X_1.shape

((840940,), (840940, 9))

In [102]:
porcent = X_1.shape[0]*0.70
x_train = X_1[:porcent,:]
y_train = y[:porcent]

x_test = X_1[porcent:,:]
y_test = y[porcent:]

x_train.shape ,y_train.shape, x_test.shape, y_test.shape

/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  from ipykernel import kernelapp as app
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  app.launch_new_instance()
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/edwin/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

((588658, 9), (588658,), (252282, 9), (252282,))

In [111]:
#Entrenando añadiendo
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)
print("score en train = ",lr.score(x_train, y_train))
print("score en test = ", lr.score(x_test, y_test))

score en train =  0.413731572305
score en test =  0.369486959868

In [113]:
from sklearn.ensemble import RandomForestRegressor

t_i = time()
rf = RandomForestRegressor()
rf.fit(x_train ,y_train)
t_f = time()
print("score en train = ",rf.score(x_train, y_train))
print("score en test = ", rf.score(x_test, y_test))

score en train =  0.999908422618
score en test =  0.999058041438

In [108]:
rf.predict(x_train)

array([ 149.056642  ,    3.12235547,  287.25670344, ...,   73.73475351,
        232.12131511,   41.05875108])